page-outlet-update-account {
    .scroll-content{
        background-image: url(../assets/imgs/IMG_4937.png);
        background-size: cover;
        background-position: center center;
        padding-bottom: 0px !important;
        form{
            position: relative;
            z-index: 2;
            ion-item{
                background: none;
            }
            form, input, optgroup, select {
                margin: 0;
                font: inherit;
                color: white;
            }
        }

    }
    .profile-image-wrapper {
        text-align: center;
        margin: 20px 0;
    
        .profile-image {
          width: 96px;
          height: 96px;
          border-radius: 50%;
    
          display: inline-block;
    
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
    
        .profile-image-placeholder {
          display: inline-block;
        color: white;
          background-color: #0c1117;
          width: 96px;
          height: 96px;
          border-radius: 50%;
    
          font-size: 12px;
    
          ion-icon {
            font-size: 44px;
            margin-bottom: -10px;
            margin-top: 10px;
          }
        }
      }
}
